<div class="flex min-h-full items-center justify-center">
  <div class="w-full max-w-md bg-gray-100 p-8 rounded-md shadow-md border">
    <form class="space-y-6" ng-submit="loginUser()">
      <div>
        <label for="username" class="text-base font-medium text-gray-900"
          >Usuário</label
        >
        <div class="mt-2">
          <input
            type="text"
            id="username"
            ng-model="login.username"
            placeholder="Username"
            required
            class="w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline-1"
          />
        </div>
      </div>

      <div>
        <label for="password" class="text-base font-medium text-gray-900"
          >Senha</label
        >
        <div class="mt-2">
          <input
            type="password"
            id="password"
            ng-model="login.password"
            placeholder="Senha"
            required
            class="w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline-1"
          />
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-yellow-500 px-3 py-1.5 text-sm font-semibold text-white"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
